/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  background-color: rgb(77, 77, 77);
}
 .top_bar{
   display: flex;
   align-items: center;
   background-color: rgb(80, 80, 169);
   color: whitesmoke;
   padding: 5px;
   border: 0;
   margin: 0;
   height: 30px;

 }

 #left_side {
    float: left;
    justify-content: flex-start;
 }

 #right_side{
   display: flex;
   border: 5px;
   justify-content: flex-end;
 }

 .top_bar h4 {
   padding: 10px;
 }

 