<h1>Login</h1>

<form action="/session" method="post">

  <label for="user_user_name">Username</label>
  <input type="text" name="user[user_name]" id="user_user_name"><br>

  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" value="Log In">
</form>