<header class="main-nav">
	<nav class="left-nav">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>

	<nav class="right-nav">
		<ul>
			<li class="button" id="subscribe-button">
				<button onclick="window.location.href = 'subscribe_url';">Subscribe Now</button>
			</li>
			<li class="button" id="login-button">
				<button  onclick="window.location.href = 'login_url';">Log In</button>
			</li>
			<li id="gear-dropdown-btn">
				<i class="fas fa-cog"></i>
				<%= render partial: 'shared/gear_dropdown' %>
			</li>
		
		</ul>
	
	
	</nav>
</header>