<div class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="css_url">CSS</a></li>
            <li><a href="html_url">HTML</a></li> 
            <li><a href="js_url">Javascript</a></li>
            <li><a href="rb_url">Ruby</a></li>
        <ul>
    </div>

    <img src="assets/AA_Times_Logo.png" alt="aatimes logo"> 

    <div class="masthead-links">
        <ul>
            <li><time>Tuesday, October 18, 2016</time></li>
            <li><a href="news_url">Today’s Paper</a></li> 
            <li><a href="vid_url">Video</a></li>
            <li><a href="weather_url">77°F</a></li>
            <li><a href="stock_url">AAO +100%</a></li>
        <ul>
    </div>
</div>